.App {
    text-align: center;
}

._loading_overlay_content {
    padding-left: 40%;
    padding-top: 200px;
    position: absolute;
}

.dropzone {
    text-align: center;
    padding: 1px;
    border: 1px dashed #aba7a7d7;
    margin: 5px;
    /* background-color: #24272e; */
    /* background-color: #ffffff; */
    color: #bdbdbd;
    font-size: 16px;
}

.dropzone p {
    margin: 0px;
    padding: 0px;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    /* background-color: #282c34; */
    background-color: #ffffff;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(12, 63, 62);
}

.App-link {
    color: #61dafb;
}

.App {
    /* background-color: #282c34; */
    background-color: #ffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(43, 43, 43);
}

.App-examplesXXXX {
    position: relative;
    margin-left: 5%;
    max-width: 90%;
}

.App-examplesXXXX div {
    /* width: 100%; */
    /* height: 50%; */
    float: left;
    /* border: 1px solid black; */
    /* box-sizing: border-box; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.InputSmilesVis input {
    min-height: 30px;
    font-size: 16px;
    min-width: 500px;
    width: 100%;
    text-align: center;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
